---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

{% include navbar.html %}

<div class="container">

  <h1>Hello, World!</h1>

  {% if page.image %}
<img src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

{% if page.caption %}
<p class="caption">{{ page.caption }}</p>
{% endif %}
 

  {{ content }}

</div>

</body>
</html>
